.widget {
    text-align: center;
    background-color: $lighten-color2;
    margin-bottom: 100px;
}

.widget-header {
    background-color: $darken-color2;
    color: $off-white;
    padding: $m-size;
    font-weight: bold; 
    display: flex;
    justify-content: space-between;
}



.widget-buttom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: $m-size;
    margin-bottom: $l-size;
}

.widget-message {
    padding: $l-size;
    border-bottom: 1.5px solid lighten($lighten-color2 , 5%);
}